@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #FFFFF0; 
    font-family: 'Times New Roman', Times, serif; 
}

.menu {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.menu ul {
    list-style-type: none;
    background-color: #000080; 
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: space-around;
    padding: 10px 0; 
    margin: 0;
    padding-right: 220px; 
}

.menu li a {
    display: block;
    color: #FFFFF0;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #000; /* text shadow for depth */
    border-style: solid;
    border-width: 1px; 
    border-color: black; 
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out; 
    border-radius: 5px; /* Rounded corners */
}

.menu li a:hover {
    background-color: #FFD700; 
    color: black;
    padding: 10px; 
    width: 100%; 
    box-shadow: none; 
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px; 
    color: #000080; 
}
h1{
    font-family: 'Courier New', Courier, monospace;

}

h2{ 
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    color: #FFD700;
    text-shadow: #000 .5px .5px;
}

.right-box {
    position: fixed;
    right: 0;
    top: 60px; 
    bottom: 0;
    width: 200px;
    background-color: #000080; 
    color: #FFFFF0;
    padding: 10px;
    border-left: 3px solid black; 
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace; 
}


.right-box a, .right-box p {
    color: #FFFFF0;
    text-decoration: underline; 
    margin: 5px 0;
    padding-bottom: 25px;
    
}

.right-box a:hover {
    color: #FFD700; 
}

.content-container {
    padding: 20px;
    padding-top: 90px; /* Increase top padding to push content below the menu */
    padding-right: 220px; /* Ensures content does not overlap with the right-box */
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px; 
    color: #000; 
}

p {
margin-bottom: 10px; 
    margin-left: 50px;
    margin-right: 50px;
}

.Browse {
    background-color: #FFD700;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 1px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    border-radius: 5px; /* Rounded corners */
}

.second_line {
    padding: 20px;
    padding-right: 220px; /* Ensures content does not overlap with the right box */
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px; 
    color: #000; 
}

.caution {
    font-size: 10px;
}

.caution:hover {
    font-size: 20px;
    color: red;
    background-color: #000;
}

.hover-effect {
    transition: color 0.3s ease;
}

.hover-effect:hover {
    color: #FFFFF0;
    text-shadow: none;
}

.buyGif {
    margin-bottom: 20px auto;
    width: 27%; 
}

th {
    background-color: #FFD700; 
    color: #000;
    text-align: left;
    padding: 10px; 
    font-weight: bold; /* Header text bold */
    border-bottom: 2px solid #000; 
}

table.personalQuestions {
    width: 80%; 
    margin-left: auto; /* Centers the table*/
    margin-right: auto; /* Centers the table  */
    border-collapse: collapse; /* Collapses border to remove space between them */
    margin-top: 20px;
    
}

td {
    border: 1px solid #000; 
    text-align: left; 
    padding: 8px; /* inside cells for spacing */
}

th {
    border: 1px solid #000;
    text-align: left; 
    padding: 8px; /* inside cells for spacing */
}
.submit-button {
    background-color: #FFD700; 
    color: #000; 
    text-decoration: none; /* no underline */
    padding: 10px 20px; /* Padding for size */
    border: none; 
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Allows it to behave like a button */
    cursor: pointer; /* Pointer cursor on hover */
}

.submit-button:hover {
    background-color: #000080; 
    color: #FFFFF0; 
}

