*{
    margin: 0;
    padding: 0;
}

.menu ul{ 
    list-style-type: none;
    background-color: orange;
    overflow: hidden; }

.menu li 
{float: left;}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 100px;
    /* padding-top: 14 px; */
    /* padding-bottom: 14 px; */
    /* padding-left: 16 px; */
    /* padding-right: 16 px; */
    text-decoration: none;
}

.menu li a:hover{
    background-color: white;
    color: black;
}